.merriweather-normal {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* banner styles started*/

.banner {
  background-image: url("../assets/Hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 26px 221px 44px 221px;
}

.banner-title {
  font-size: 48px;
  font-weight: bolder;
  color: #0d1321;
  text-align: center;
}

.banner-description {
  font-size: 16px;
  color: #0d1321;
  text-align: center;
}

.text-part {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.contact-me-btn {
  width: 240px;
  height: 66px;
  border-radius: 8px;
  border-color: none;
  font-size: 20px;
  font-weight: 600px;
  color: #ffffff;
  background-color: #0d1321;
  text-align: center;
}

/*web-development-section style started*/

.why {
  margin: 80px 97px;
}

.web-dev {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.web-first-content {
  border: 2px solid red;
  padding: 0 48px 48px 48px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.web-second-content {
  border: 5px solid blue;
  padding: 48px 48px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

/*"my inspiration section style start "*/

.my-inspiration {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.inspiration-text-part {
  padding-bottom: 48px;
  padding-left: 144px;
  padding-right: 144px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* my current target section started*/
/* .target {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
} */
.current-target {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.target-context-part {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 48px 97px;
}
.target-action {
  display: flex;
  flex-direction: row;
}
.action-one {
  border: 2px solid black;
  text-align: center;
  margin-right: 24px;
  padding: 40px 40px;
  background-color: #ff4c1e;
}
.action-two {
  border: 2px solid red;
  text-align: center;
  margin-right: 24px;
  padding: 40px 40px;
}
.action-three {
  border: 2px solid blue;
  text-align: center;
  padding: 40px 40px;
}
