.merriweather-normal {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* banner styles started*/

.banner {
  background-image: url("../assets/Hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 26px 221px 44px 221px;
}

.banner-title {
  font-size: 48px;
  font-weight: bolder;
  color: #0d1321;
  text-align: center;
}

.banner-description {
  font-size: 16px;
  color: #0d1321;
  text-align: center;
}

.text-part {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.contact-me-btn {
  width: 240px;
  height: 66px;
  border-radius: 8px;
  border-color: none;
  font-size: 20px;
  font-weight: 600px;
  color: #ffffff;
  background-color: #0d1321;
  text-align: center;
}

/*web-development-section style started*/

.why {
  margin: 80px 97px;
}

.web-dev {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.web-first-content {
  border: 2px solid red;
  padding: 0 48px 48px 48px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.web-second-content {
  border: 5px solid blue;
  padding: 48px 48px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
